body {
  font-family: helvetica, arial, sans-serif;
  margin: 30px 300px 30px 300px;
}

h1 {
  color: #000;
}

body a {
  text-decoration: none;
  color: #000;
  background-color: #40E0D0;
  padding: 2px 4px 2px;
}

body a:hover {
	text-decoration: underline;
	background-color: #D3D3D3;
}

nav {
  float: right;
  padding: 20;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 20px;
  position: relative;
}

nav a {
  text-decoration: none;
  color: #000;
  background-color: #FFFFFF
}

nav a:hover {
  text-decoration: underline;
}

nav a:before {
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background: #FFFFFF;
	
	position: absolute;
	top: 0;
	width: 0%;
	
	transition: all ease-in-out 250ms;
}

nav a: hover before {
	width: 100%
}